.Hidden{
	display:none;
}
.Signin{
	margin: 0 auto;
	text-align: center;
	width: 350px;
	height: 500px;
	border: 1px #3f4064 solid;
	border-radius: 8px;
	margin-top: 10px;
   
}
.Signin-Hidden{
	display: none;
}

.tabCan, .tabEm{
	border: 2px solid #3f4064;
	border-radius: 3px;
	width:100px;
	margin: 5px 5px;
	height: 40px;
	font-size: 14px;
	background: #fff;
	font-family: 'Raleway', sans-serif;
}
.Signin h3{
	font-family: 'Raleway', sans-serif;
}

.Signin .Company-Signin input{
	
	margin-top: 20px;
   width: 80%;
   position: relative;
   left: 35px;
	
}
.Signin .Candidate-Signin input{
	
	margin-top: 20px;
	width: 80%;
      position: relative;
       left: 35px;

	
}
.submit-button{

	margin-top: 30px;
}